<% provide :title, t(:join_hakuna) %>

<p class="lead">Are you born to star in front of the camera?  As an actrice for a new drama series? Or do you prefer modelling for a new advertising campaign?  Has dancing been your passion since you were little? Do you have a voice that could easily win a talent show? Maybe you prefer life behind the scenes?</p>

<%= form_tag do %>
  <div class="row">
    <div class="col-sm-10">
      <%= email_field_tag :email, nil, placeholder: 'Your email address', class: 'form-control' %>
    </div>
    <div class="col-sm-2">
      <%= submit_tag "Join us", class: 'btn btn-primary btn-block' %>
    </div>
  </div>
<% end %>
