<h1>Welcome to Hakuna</h1>
<hr />

<div class="lead">
  <p>Thanks for your enthusiasm and interest in Hakuna Casting.</p>
  <p>Are you born to star in front of the camera?  As an actrice for a new drama series? Or do you prefer modelling for a new advertising campaign?  Has dancing been your passion since you were little? Do you have a voice that could easily win a talent show? Maybe you prefer life behind the scenes?</p>
  <p><%= link_to t(:register_now), new_user_registration_path %> and make your own profile in our database.  This way we can contact you if we have a job that suits you.  Don't forget to follow our site and <%= link_to 'Facebook page', 'https://www.facebook.com/hakunacasting', target: '_blank' %> for all the latest projects.</p>
  <p>See you soon!</p>
  <p>&nbsp;</p>
  <p>The Hakuna team</p>
  <p>&nbsp;</p>
</div>
<%= link_to t(:join_hakuna), new_user_registration_path, class: 'btn btn-success btn-lg btn-block' %>
