<li class="nested-fields">
  <div class="input-group">
    <span class="input-group-addon light">
      <%= icon(:move) %>
    </span>
    <% if f.object.file? %>
      <%= image_tag(f.object.file.url(:tiny_thumb)) %>
    <% else %>
      <%= f.input :file, label: false %>
    <% end %>
    <%= f.input :file_cache, as: :hidden %>
    <%= f.input :id, as: :hidden %>
    <span class="input-group-addon light">
      <%= link_to_remove_association(icon('minus-sign', 'text-danger'), f) %>
    </span>
  </div>
</li>
