<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Looking for work as</h3>
  </div>
  <div class="panel-body">
    <%= f.input :job_type, as: :check_boxes, label: false %>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Contact information</h3>
  </div>
  <div class="panel-body">

    <div class="row">
      <div class="col-sm-6">
        <%= f.input :first_name %>
      </div>
      <div class="col-sm-6">
        <%= f.input :last_name %>
      </div>
    </div>

    <hr />

    <%= f.semantic_fields_for :address do |af| %>
      <div class="row">
        <div class="col-md-6">
          <%= af.input :street %>
        </div>
        <div class="col-md-3 col-xs-6">
          <%= af.input :number %>
        </div>
        <div class="col-md-3 col-xs-6">
          <%= af.input :bus %>
        </div>
      </div>
      <div class="row">

        <div class="col-md-6">
          <%= af.input :city %>
        </div>
        <div class="col-md-3 col-sm-6">
          <%= af.input :postal_code %>
        </div>
        <div class="col-md-3 col-sm-6">
          <%= af.input :country, :priority_countries => ["BE"] %>
        </div>
      </div>

    <% end %>

    <hr />

    <%= f.input :phone_number, hint: 'use format +32485123456' %>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Personal information</h3>
  </div>
  <div class="panel-body">

    <%= f.input :birthday, as: :string, input_html: { data: { provide: :datepicker, date_format: 'dd/mm/yyyy' } }  %>
    <%= f.input :gender, as: :radio %>
    <%= f.input :nationality, as: :country, :priority_countries => ["BE"] %>
    <%= f.input :ethnicity, as: :check_boxes %>
    <%= f.input :language, label: t(:languages), as: :select, multiple: true, collection: LanguageList::COMMON_LANGUAGES.map{|l|[l.name, l.iso_639_1]}  %>
  </div>
</div>

<div class="show-cast">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Physical characteristics</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-6">
          <%= f.input :height, append: ' cm' %>
        </div>
        <div class="col-xs-6">
          <%= f.input :weight, append: ' kg' %>
        </div>
      </div>
      <%= f.input :shoe_size %>
      <div class="show-female show-adult clear-hidden">
        <%= f.input :clothing_size, as: :select, include_blank: false, collection: ClothingSize.to_select(:female) %>
      </div>
      <div class="show-male show-adult clear-hidden">
        <%= f.input :clothing_size, as: :select, include_blank: false, collection: ClothingSize.to_select(:male) %>
      </div>
      <div class="show-child clear-hidden">
        <%= f.input :clothing_size, as: :select, include_blank: false, collection: ClothingSize.to_select(:child) %>
      </div>
      <%= f.input :eye_color, as: :select, include_blank: false %>
      <%= f.input :hair_color, as: :select, include_blank: false %>
      <%= f.input :hair_length, as: :select, include_blank: false %>
      <%= f.input :hair_type, as: :select, include_blank: false %>

      <%= f.input :haircut %>
      <%= f.input :beard, wrapper_html: { class: 'show-male clear-hidden' } %>
      <%= f.input :mustache, wrapper_html: { class: 'show-male clear-hidden' } %>
      <%= f.input :tattoos %>
      <%= f.input :piercings %>
    </div>
  </div>

</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Additional information</h3>
  </div>
  <div class="panel-body">
    <%= f.input :employment, as: :select, include_blank: false %>
    <%= f.input :driving_license %>
    <%= f.input :own_transport %>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Talent</h3>
  </div>
  <div class="panel-body">

    <div class="show-cast clear-hidden">
      <h4><%= t(:cast) %></h4>
      <hr />
      <%= nested_talent_options user, Talent.friendly.find('cast').children, Talent.friendly.find('cast') %>
      <hr />
      <%= f.input :available_for, as: :check_boxes %>
      <hr />
    </div>

    <div class="show-crew clear-hidden">
      <h4><%= t(:crew) %></h4>
      <hr />
      <%= nested_talent_options user, Talent.friendly.find('crew').children, Talent.friendly.find('crew') %>
      <hr />
    </div>

    <%= f.input :previous_experience, :input_html => { rows: 5 } %>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Media</h3>
  </div>
  <div class="panel-body">
    <h3>Images</h3>
    <p class="help-block">Add at least 2 recent photos: a clear picture of the face and one of the person completely</p>
    <ul id="sortable-images" class="sortable-fields list-unstyled clearfix">
      <%= f.semantic_fields_for :images do |image| %>
        <%= render partial: 'profiles/image_fields', locals: {f: image} %>
      <% end %>

      <div class="add-image">
        <%= link_to_add_association icon(:plus) + " " + t(:add_image), f, :images, partial: 'profiles/image_fields', class: 'btn btn-link' %>
      </div>
    </ul>
    <h3>Videos</h3>
    <ul id="sortable-videos" class="sortable-fields list-unstyled clearfix">
      <%= f.semantic_fields_for :videos do |video| %>
        <%= render partial: 'profiles/video_fields', locals: {f: video} %>
      <% end %>
      <div class="add-video">
        <%= link_to_add_association icon(:plus) + " " + t(:add_video), f, :videos, partial: 'profiles/video_fields', class: 'btn btn-link' %>
      </div>
    </ul>
  </div>
</div>
