<li class="nested-fields">
  <div class="input-group">
    <span class="input-group-addon light">
      <%= icon(:move) %>
    </span>
    <div class="row">
      <div class="col-sm-8"><%= f.input :url, label: false, placeholder: t(:link)  %></div>
      <div class="col-sm-4"><%= f.input :title, label: false, placeholder: t(:description)  %></div>
    </div>
    <%= f.input :id, as: :hidden %>
    <span class="input-group-addon light">
      <%= link_to_remove_association(icon('minus-sign', 'text-danger'), f) %>
    </span>
  </div>
</li>
