<% provide :title, t(:edit_user_profile) %>

<div class="row">
  <div class="col-sm-12">
    <%= semantic_form_for(resource, url: profile_path(resource), html: { multipart: true, method: :put }) do |f| %>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Account information</h3>
        </div>
        <div class="panel-body">
          <%= f.input :email %>
          <% if Devise.mappings[:user].confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <%= f.input :active %>

        </div>
      </div>

      <%= f.semantic_fields_for :profile do |pf| %>
        <%= render partial: 'profile_fields', locals: {user: resource, f: pf} %>
      <% end %>


        <div class="actions">
          <%= f.submit "Update profile", class: 'btn btn-primary btn-block' %>
        </div>
      </div>

    <% end %>
  </div>
</div>
