<% provide :title, @user.full_name %>

<div class="row">
  <div class="col-sm-8 col-md-6">
    <div class="well user-details">
      <dl class="dl-horizontal">
        <h3>Contact information</h3>

        <dt><%= t(:name) %></dt>
        <dd><%= @user.full_name %></dd>

        <dt><%= t(:email) %></dt>
        <dd><%= mail_to @user.email, @user.email %></dd>

        <dt><%= t(:address) %></dt>
        <dd><%= simple_format @user.profile.address.to_s, {}, wrapper_tag: :div %></dd>

        <dt><%= t(:phone_number) %></dt>
        <dd><%= link_to @user.profile.phone_number, "tel:#{@user.profile.phone_number}" %></dd>

        <hr />

        <h3>Personal information</h3>

        <dt><%= t(:birthday) %></dt>
        <dd><%= @user.profile.birthday ? l(@user.profile.birthday, format: :long) : t(:not_specified) %></dd>

        <dt><%= t(:gender) %></dt>
        <dd><%= @user.profile.gender ? @user.profile.gender.humanize : t(:not_specified) %></dd>

        <dt><%= t(:nationality) %></dt>
        <dd><%= @user.profile.nationality ? country_name(@user.profile.nationality) : t(:not_specified) %></dd>

        <dt><%= t(:ethnicity) %></dt>
        <dd><%= @user.profile.ethnicity.map { |e| e.text }.join(', ') %></dd>

        <dt><%= t(:language) %></dt>
        <dd><%= @user.profile.language.reject{|i|i.blank?}.map{|l| info = LanguageList::LanguageInfo.find(l); info ? info.name : nil}.compact.join(', ') %></dd>

        <hr />

        <% if @user.cast? %>

          <h3>Physical characteristics</h3>

          <dt><%= t(:height) %></dt>
          <dd><%= @user.profile.height ? "#{@user.profile.height/100}m#{@user.profile.height%100}" : t(:not_specified) %></dd>

          <dt><%= t(:weight) %></dt>
          <dd><%= @user.profile.weight ? "#{@user.profile.weight}kg" : t(:not_specified) %></dd>

          <dt><%= t(:shoe_size) %></dt>
          <dd><%= @user.profile.shoe_size ? @user.profile.shoe_size : t(:not_specified) %></dd>

          <dt><%= t(:clothing_size) %></dt>
          <dd><%= @user.profile.clothing_size ? ClothingSize[@user.profile.clothing_size.to_i] : t(:not_specified) %></dd>

          <dt><%= t(:eye_color) %></dt>
          <dd><%= @user.profile.eye_color ? @user.profile.eye_color.text : t(:not_specified) %></dd>

          <dt><%= t(:hair_color) %></dt>
          <dd><%= @user.profile.hair_color ? @user.profile.hair_color.text : t(:not_specified) %></dd>

          <dt><%= t(:hair_length) %></dt>
          <dd><%= @user.profile.hair_length ? @user.profile.hair_length.text : t(:not_specified) %></dd>

          <dt><%= t(:hair_type) %></dt>
          <dd><%= @user.profile.hair_type ? @user.profile.hair_type.text : t(:not_specified) %></dd>

          <dt><%= t(:haircut) %></dt>
          <dd><%= @user.profile.haircut ? t(:yes) : t(:no) %></dd>

          <% if @user.profile.gender.male? %>
            <dt><%= t(:beard) %></dt>
            <dd><%= @user.profile.beard ? t(:yes) : t(:no) %></dd>

            <dt><%= t(:mustache) %></dt>
            <dd><%= @user.profile.mustache ? t(:yes) : t(:no) %></dd>
          <% end %>

          <dt><%= t(:tattoos) %></dt>
          <dd><%= @user.profile.tattoos ? t(:yes) : t(:no) %></dd>

          <dt><%= t(:piercings) %></dt>
          <dd><%= @user.profile.piercings ? t(:yes) : t(:no) %></dd>

          <hr />

        <% end %>

        <h3>Additional information</h3>

        <dt><%= t(:employment) %></dt>
        <dd><%= @user.profile.employment ? @user.profile.employment.text : t(:not_specified) %></dd>

        <dt><%= t(:driving_license) %></dt>
        <dd><%= @user.profile.driving_license ? t(:yes) : t(:no) %></dd>

        <dt><%= t(:own_transport) %></dt>
        <dd><%= @user.profile.own_transport ? t(:yes) : t(:no) %></dd>

        <hr />

        <h3>Talent</h3>

        <% if @user.cast? %>
          <dt><%= t(:cast) %></dt>
          <dd><%= simple_format @user.talents.where(id: Talent.friendly.find('cast').subtree_ids).map{|t| t.to_s }.join("\n"), {}, wrapper_tag: :div %></dd>

          <% if @user.profile.available_for.present? %>
            <dt><%= t(:available_for) %></dt>
            <dd><%= simple_format @user.profile.available_for.map { |e| e.text }.join("\n"), {}, wrapper_tag: :div %></dd>
          <% end %>
        <% end %>

        <% if @user.crew? %>
          <dt><%= t(:crew) %></dt>
          <dd><%= simple_format @user.talents.where(id: Talent.friendly.find('crew').subtree_ids).map{|t| t.to_s }.join("\n"), {}, wrapper_tag: :div %></dd>
        <% end %>


        <% if @user.profile.previous_experience.present? %>
          <dt><%= t(:previous_experience) %></dt>
          <dd><%= simple_format @user.profile.previous_experience, {}, wrapper_tag: :div %></dd>
        <% end %>

      </dl>

    </div>

    <% if current_user %>
      <% if current_user.admin? %>
        <%= link_to t(:edit_user_profile), edit_profile_path(@user), class: 'btn btn-block btn-info hidden-print' %>
      <% elsif current_user == @user %>
        <%= link_to t(:update_your_profile), edit_user_registration_path, class: 'btn btn-block btn-info hidden-print' %>
      <% end %>
      <br />
      <% if current_user.admin? %>
        <div class="well user-lists">
          <dl class="dl-horizontal">
            <h3>Lists</h3>
            <% if @lists.empty? %>
              <em>empty</em>
            <% else %>
              <% @lists.each do |list| %>
                <dt><%= list.title %></dt>
                <dd><%= link_to t(:remove_from_list), remove_user_path(list, @user), method: :patch %></dd>
              <% end %>
            <% end %>
          </dl>
          <hr />
          <h3><%= t(:add_to_list) %></h3>
          <%= form_tag add_user_path, method: :patch do %>
            <%= hidden_field_tag :user_id, @user.id %>
            <div class="row">
              <div class="col-sm-8">
                <%= select_tag :list_id, options_for_select(List.where.not(id: @user.list_ids).map { |l| [l.title, l.id] }), class: 'form-control' %>
              </div>
              <div class="col-sm-4">
                <%= submit_tag "Add to list", class: 'btn btn-primary btn-block' %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="well user-comment clearfix">
          <h3><%= t(:comments) %></h3>
          <%= form_tag user_comment_path, method: :patch do %>
            <%= hidden_field_tag :user_id, @user.id %>
            <%= text_area_tag :comment, @comment.text, cols: 40, rows: 10, class: 'form-control' %>
            <br />
            <%= submit_tag "Update comment", class: 'btn btn-primary btn-block' %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="col-sm-4 col-md-6">
    <div class="image-container clearfix">
      <% @user.profile.images.each_with_index do |image, index| %>
        <% if index.zero? %>
        <div class="image media-element">
          <%= link_to image_tag(image.file.url, class: 'img-responsive'), image.file.url, rel: 'media', class: 'colorbox' %>
        </div>
        <% else %>
          <div class="image thumb media-element">
            <%= link_to image_tag(image.file.thumb.url, class: 'img-responsive'), image.file.url, rel: 'media', class: 'colorbox' %>
          </div>
        <% end %>
      <% end %>
    </div>
    <% if @user.profile.videos.present? %>
      <div class="video-container clearfix">
        <h3><%= t(:videos) %></h3>
        <% @user.profile.videos.each do |video| %>
          <div class="video media-element">
            <% if video.title.present? %>
              <p><%= video.title %></p>
            <% end %>
            <%= video.embed_code('responsive-embed hidden-print').html_safe %>
            <div class="visible-print-block">
              <%= link_to video.url, video.url %>
            </div>
            <hr />
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

</div>
