<% provide :title, t(:resend_confirmation_instructions) %>

<%= semantic_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.input :email, :input_html => { autofocus: true } %>

  <div class="actions">
    <%= f.submit "Resend confirmation instructions", class: 'btn btn-primary' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
