<% provide :title, t(:edit_profile) %>

<div class="row">
  <div class="col-sm-12">
    <%= semantic_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { multipart: true, method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Account information</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-6">
              <%= f.input :email %>
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>
            </div>
            <div class="col-sm-6">
              <%= f.input :password, :input_html => { autocomplete: "off" }, hint: 'leave blank if you don\'t want to change it', required: false %>
            </div>
          </div>

        </div>
      </div>

      <%= f.semantic_fields_for :profile do |pf| %>
        <%= render partial: 'profiles/profile_fields', locals: {user: resource, f: pf} %>
      <% end %>

      <div class="panel panel-primary">
        <div class="panel-body">


          <div class="actions">
            <%= f.submit t(:edit_profile), class: 'btn btn-primary btn-block' %>
          </div>
        </div>
      </div>

    <% end %>
    <p class="small text-right">
      <%= link_to "Cancel your account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
    </p>
  </div>
</div>
