<% provide :title, t(:join_hakuna) %>

<%= semantic_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { multipart: true }) do |f| %>
  <%= devise_error_messages! %>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Account information</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          <%= f.input :email %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <%= f.input :password, :input_html => { autocomplete: "off" }, hint: ("#{@minimum_password_length} characters minimum" if @validatable) %>
        </div>
        <div class="col-sm-6">
          <%= f.input :password_confirmation, :input_html => { autocomplete: "off" } %>
        </div>
      </div>

    </div>
  </div>

  <%= f.semantic_fields_for :profile do |pf| %>
    <%= render partial: 'profiles/profile_fields', locals: {user: resource, f: pf} %>
  <% end %>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Terms and conditions</h3>
    </div>
    <div class="panel-body">
      <%= f.input :terms_and_conditions, as: :boolean, label: t(:accept_terms, link: 'http://hakuna.be/terms-and-conditions').html_safe %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: 'btn btn-primary' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
