<p>Hey <%= @user.full_name %>,</p>

<p>To make our casting database more user friendly for you we have been working hard on a brand new system.<br />
Your profile has been transfered to the new database. This requires you to reset your password.<br />
Enter your email address and request a new password at <%= link_to new_user_password_url, new_user_password_url %></p>

<p>Once this is done you can access your renewed profile.</p>

<p>See you soon!</p>

<p>The Hakuna team</p>
