Hey <%= @user.full_name %>,

To make our casting database more user friendly for you we have been working hard on a brand new system.
Your profile has been transfered to the new database. This requires you to reset your password.
Enter your email address and request a new password at <%= new_user_password_url %>

Once this is done you can access your renewed profile.

See you soon!

The Hakuna team
