Hey <%= @user.full_name %>,

Thanks for joining the Hakuna Family. We hope to see you in the near future.
Make sure you check out all our Hakuna related work on our youtube channel.

https://www.youtube.com/channel/UC-VHTE-jaVT5PtvPCwNJg4g

All casting calls and information can be found on our site: hakunacasting.com

Also give us some love on our social media accounts:

Facebook: https://www.facebook.com/hakunacasting
Twitter: https://twitter.com/HAKUNAcasting
Instagram: https://instagram.com/hakunacasting

Like us, follow us and we'll keep you up to date about all our latest projects, plans and all things Hakuna.

Don't forget to write down 11/11/2015 on your calendar for the première of BLACK.
For all of you who can't wait, go and check out the trailer: https://www.youtube.com/watch?v=qthmdtzPkL8

See you soon on the set!

The Hakuna team
