<p>Hey <%= @user.full_name %>,</p>

<p>Thanks for joining the Hakuna Family. We hope to see you in the near future.<br />
Make sure you check out all our Hakuna related work on our youtube channel.<p>

<p><a href="https://www.youtube.com/channel/UC-VHTE-jaVT5PtvPCwNJg4g">https://www.youtube.com/channel/UC-VHTE-jaVT5PtvPCwNJg4g</a></p>

<p>All casting calls and information can be found on our site: <a href="http://hakunacasting.com">hakunacasting.com</a></p>

<p>Also give us some love on our social media accounts:</p>

<p>Facebook: <a href="https://www.facebook.com/hakunacasting">https://www.facebook.com/hakunacasting</a><br />
Twitter: <a href="https://twitter.com/HAKUNAcasting">https://twitter.com/HAKUNAcasting</a><br />
Instagram: <a href="https://instagram.com/hakunacasting">https://instagram.com/hakunacasting</a></p>

<p>Like us, follow us and we'll keep you up to date about all our latest projects, plans and all things Hakuna.</p>

<p>Don't forget to write down 11/11/2015 on your calendar for the première of BLACK. <br />
For all of you who can't wait, go and check out the trailer: <a href="https://www.youtube.com/watch?v=qthmdtzPkL8">https://www.youtube.com/watch?v=qthmdtzPkL8</a></p>

<p>See you soon on the set!</p>

<p>The Hakuna team</p>
