
  <% if user_signed_in? %>
    <% if current_user.admin? %>
      <%= link_to("Administration pages", admin_root_path, class: 'btn btn-info navbar-btn') %>
    <% end %>
    <% if current_user.profile %>
      <%= link_to("#{current_user.full_name}", my_profile_path, class: 'btn btn-link navbar-btn') %>
    <% end %>
    <%= link_to('Log out', destroy_user_session_path, :method => :delete, class:'btn btn-link navbar-btn') %>
  <% else %>
    <%= link_to('Log in', new_user_session_path, class: 'btn btn-link navbar-btn') %>
  <% end %>
