<h2>Resend unlock instructions</h2>

<%= semantic_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.input :email, :input_html => { autofocus: true } %>

  <div class="actions">
    <%= f.submit "Resend unlock instructions", class: 'btn btn-primary' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
