<% provide :title, t(:change_your_password) %>

<%= semantic_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <%= f.input :password, :input_html => { autofocus: true, autocomplete: "off" } %>
  <%= f.input :password_confirmation, :input_html => { autocomplete: "off" } %>

  <%= f.submit "Change my password", class: 'btn btn-primary' %>
<% end %>

<%= render "devise/shared/links" %>
