<% provide :title, t(:forgot_your_password) %>

<%= semantic_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.input :email, :input_html => { autofocus: true} %>

  <div class="actions">
    <%= f.submit "Send me reset password instructions", class: 'btn btn-primary' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
