<% provide :title, t(:log_in) %>

<%= semantic_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <%= f.input :email, :input_html => { autofocus: true } %>
  <%= f.input :password, :input_html => { autocomplete: "off" } %>

  <% if devise_mapping.rememberable? -%>
    <%= f.input :remember_me, as: :boolean %>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in", class: 'btn btn-primary' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
