Hi there! You've just been headhunted by HAKUNA.

We think YOU got what it takes!

We invite you to visit <%= new_user_registration_url %> and complete your HAKUNA profile.

This way we can easily contact you to join our future projects in film / commercial / music / theater / musical.

The Hakuna team
