<p>Hi there! You've just been headhunted by HAKUNA.</p>

<p>We think YOU got what it takes!</p>

<p>We invite you to visit <%= new_user_registration_url %> and complete your HAKUNA profile.</p>

<p>This way we can easily contact you to join our future projects in film / commercial / music / theater / musical.</p>

<p>The Hakuna team</p>
