// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

@import "active_admin/select2/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.index {
  &.index_as_block {
    @include clearfix;
    margin: 0 -1em;
    > .resource_selection_toggle_panel {
      margin: 0 1em;
    }
    > .user {
      float: left;
      width: 100%;
      padding: 1em;
      box-sizing: border-box;
      .actions {
        text-align: right;
      }
      .wrapper {
        position: relative;
        .user-image {
          img {
            display: block;
            width: 100%;
          }
        }
        .user-full-name {
          position: absolute;
          bottom: 0;
          width: 100%;
          background: rgba(0, 0, 0, 0.5);
          margin: 0;
          padding: 0.5em;
          box-sizing: border-box;
          a {
            color: #fff;
            text-decoration: none;
          }
        }
      }
      @media (min-width: 768px) {
        width: 50%;
      }
      @media (min-width: 992px) {
        width: 33.333%;
      }
      @media (min-width: 1200px) {
        width: 25%;
      }
      @media (min-width: 1600px) {
        width: 16.666%;
      }
    }
  }
}

body.active_admin {
  #sidebar {
    .filter_form {
      li {
        list-style: none;
        label abbr[title='required'] {
          display: none;
        }
      }
      .numeric_range {
        input {
          width: 88px;
        }
        .seperator {
          display: inline-block;
          text-align: center;
          width: 12px;
        }
      }
    }
  }
}
