<p>Hey <%= @resource.full_name %>!</p>

<p>Welcome to the Hakuna family!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>After your account is activated you can access and edit your profile and we can contact you if we have a job for you.</p>

<p>See you soon</p>

<p>The Hakuna team</p>
