<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    <% if content_for?(:title) %>
    <%= yield :title %> | Hakuna Casting Database
    <% else %>
    Hakuna Casting Database
    <% end %>
  </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-left">
        <%= link_to image_tag("logo.png", alt: "Hakuna Casting Database"), root_path, id: 'logo' %>
      </div>
      <div class="navbar-right">
        <%= render 'devise/shared/menu' %>
      </div>
    </div>
  </div>
  <div id="main" class="container">
    <% if content_for?(:title) %>
      <div class="page-header">
        <h1><%= yield :title %></h1>
      </div>
    <% end %>

    <%= flash_messages %>

    <%= yield %>
  </div>
  <div class="footer">
    <div class="container text-right">
      <span class="text-muted small">&copy; 2015 <a href="http://hakuna.be">Hakuna Casting</a> - made by <a href="http://enden.be" target="_blank">Studio Enden</a></span>
    </div>
  </div>

</body>
</html>
